/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    scroll-behavior: smooth;
}

body {
    font: 16px 'poppins', sans-serif;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h2, h3, h4, h5, h6, li {
    color: #77776c
}



h1 {
    font: 48px "poppins", sans-serif; 
}

h2 {
    font-size: 20px;
    line-height: 1.2em;
}


h3 {
    font-weight: 400;
}

h4, h5 {
    font-weight: 300;
}

h6 {
    font-weight: 200;
}

hr {
    width: 100%;
    background-color: #77776c;
    opacity: 0.2;
    margin: 25px 0;
}

li {
    font: 16px "poppins", sans-serif;   
}

a {
    text-decoration: none;
    color: #555;
}

#d_s, #d_s_description, #spherical-wrist, #alien-invasion {
    color: #222;
}

.title {
    text-align: center;
    color: #1194ea;
    width: 100%;
    margin: 10px 0;
    font: 36px "poppins", sans-serif;  
    font-weight: 500; 
}

.projects .title {
    text-align: start;
    font: 30px "poppins", sans-serif;  
    font-weight: 400; 
    padding-left: 85px;
}

.container {
    max-width: 1280px;
    padding: 40px 140px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    background: #195190FF;
    width: 140px;
    color: rgb(219,176,74);
}

.navbar {
    border: 0;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 140px;
    z-index: 100;
    text-align: center;
}

.navbar.sticky {
    position: fixed;
    top: 0;
}

.navbar a {
    width: 100%;
    transition: 0.1s color ease-in-out;                
}

.navbar li {
    padding: 15px;
    width: 140px;
    transition: 0.1s background-color ease-in-out;
}

.navbar a:hover, .overlay:hover {
    cursor: pointer; 
}

.bounce {
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-3px);
  }
}

/* Colors */
/* #80f5ce; */
/* color: #ff9c69; /* color: #8ccbf5; */ 
/* blue rgb(25, 81, 144) */
/* orange rgb(255,156,105) */
/* light blue rgb(140,203,245) */
/* veige rgb(241, 236, 220) */
/* green-blue rgb(144, 182, 145) */
/* yellow #dbb04aff */
/* blue #1194ea */
/* cream #fbf5ec */
/* gray blue #edf9ff */
/* alternative blue #52ACF5; */




/* Hero Styles */
.cover {
    position: relative;
    height: 100vh;
    padding: 0;
}

.cover h1 {
    color: #f5f5f5; 
}

.cover-image {
    background-image: url(../images/LandingImage.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: cover;
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    margin: 60px 0;
    display: flex;
    width: 100%;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

.navbar .nav-item {
    margin-left: 60px;
}

.nav-item a {
    font-size: 26px;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #1194ea;
}

.bio{
    position: absolute;
    top: 85vh;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

.bio h2{
    color: white;
    font-weight: 300;
    max-width: 650px;
    padding: 10px;
    font-size: 18px;
}

.cover .media-items {
    display: flex;
    margin-top: 15px;
}

.cover .media {
    text-align: left;
    width: 50%;
}

.cover .media i {
    font-size: 2.0em;
    padding: 0 7px;
    color: #f5f5f5;
    transition: color 0.3s ease-in-out;
}

.cover .media i:hover {
    color: #1194ea;
}

.cover .email {
    width: 50%;
    position: relative;
    top: 13px;
    color: #f5f5f5;
    margin-left: 85px;
}

.cover .email:hover {
    text-decoration: underline;
}

.content-area {
    position: absolute; 
    color: #f5f5f5;
    /* text-align: center; */
    top: 33vh;
    margin-left: 60px;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        margin-bottom: 100px;
    }
}

.cover h3 {
    font: normal 28px "poppins", sans-serif;
    color: #f5f5f5; 
    font-style: italic;
}

.section-menu {
    display: flex;
    margin-top: 100px;  
    height: 150px;
    align-items: center;
    justify-content: center;
}

.section-menu a {
    font-style: normal;
    flex-basis: 33%;
    padding: 10px;
    font-size: 24px;
    transition: 0.3s transform ease-in-out,
                0.3s color ease-in-out;
    color: #f5f5f5;
}

.section-menu a:hover {
    transform: scale(1.2) translate(0px, -10px);
    color: rgb(118, 157, 165); 
}

.sections-middle {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sections-middle h3{
    width: 100%;
    padding: 25px 0;
    text-align: center; 
}

/* About Me Styles */
.about-me {
    background-color:#f5f5f5;
}

.about-me .about-picture {
    border-radius: 50%;
    width: 225px;
    min-width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
}

.about-me .about-picture img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    border: solid #1194ea 3px;
    border-radius: 50%;
}

.about-me .description {
    width: 100%;
    height: auto;
    text-align: center; 
}

.about-me .description p {
    padding: 10px 60px;
}


.gallery {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.gallery img:hover {
    transform: scale(1.2) translate(0px, -10px);
}

.first {
    background: url(../images/Adrian1.jpg);
    align-self: flex-end;
}

.second {
    background: url(../images/drone.jpg);
}

.third {
    background: url(../images/paint.jpg);
    align-self: flex-end;
}

/* Experience and Skills */

.experience-and-skills {
    background-color: #f5f5f5;
}

.experience-and-skills .experience {
    color: #1194ea;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}

.experience-and-skills .row {
    display: flex;
    margin-bottom: 35px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    border-radius: 25px;
}

.experience-and-skills .left {
    width: 33.333%;
    margin-right: 20px;
    max-height: 300px;
    /* border: solid black; */
}

.experience-and-skills .left img {
    width: 90%;
    border-radius: 25px;
    text-align: center;
    display: block;
}

.experience-and-skills .left img:hover {
    opacity: 0.85;
}

.experience-and-skills .right {
    width: 66.666%;
    padding: 10px 10px 5px 0;
}

.experience-and-skills .right ul li {
    list-style: circle;
    margin-left: 20px;
}

.experience-and-skills .row h2{
    text-align: left;
    font-size: 16px;
    color: #1194ea;
    transition: 0.15s color ease-in-out;
}

.experience-and-skills .row h2:hover{
    color: #1194ea;
}

.experience-and-skills .date span{
    color: #77776c;
    font-style: italic;
}

.experience-and-skills .position {
    font-weight: 500;
    line-height: 1.5em;
}

.experience-and-skills .description {
    font-weight: 300;
    margin-top: 10px;
}

.experience-and-skills .location i {
    margin-right: 5px;
}

.experience-and-skills .location {
    margin-bottom: 10px;
}

.experience-and-skills span {
    color: #1194ea;
}

.experience-and-skills .right a {
    color: #1194ea;
    text-decoration: none;
    width: auto;
    display: inline-block
}

.experience-and-skills .skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-and-skills .skill-item{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.experience-and-skills .header-container h3{
    color: #77776C;
    padding: 15px 0;
    font-size: 22px;
}

.experience-and-skills .logo{
    width: 100px;
}

.experience-and-skills .header-container{
    display: flex;
    flex-direction: column;
}

.experience-and-skills .each-skill{
    display: flex;
    flex-direction: column;
}

.experience-and-skills .each-skill h4{
    padding: 5px 0;
}

.experience-and-skills .skills li {
    width: 33.333%;
    padding: 10px 0;
    font-weight: 400;
}

.experience-and-skills .skills li:nth-child(3n-1) {
    text-align: center;
}

.experience-and-skills .skills li:nth-child(3n) {
    text-align: right;
}
/* Projects styling */

.projects {
    background-color: #fbf5ec;
}

.projects .container {
    padding: 40px 60px;
}

.projects .grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.projects .item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 210px;
    max-width: 270px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #1194ea;
}

.projects .item * {
    transition: all 0.35s ease-in-out;
    /* opacity: 0.7; */
}

.projects .item:hover img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100);
    cursor: pointer;
    opacity: 0.4;
}

.projects .item:hover .project-title {
    transform: translateY(-178px);
}

.projects .project-description {
    transform: translateY(210px);
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.projects .item:hover .project-description {
    transform: translateY(0);
    display: block;
    opacity: 1;
}

.projects .project-description p {
    color: #f5f5f5;
    padding: 7px;
    text-align: left;    
}

.projects img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
  height: 210px;
}

.projects .project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #f5f5f5;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}

/* Game Rules Styling */
.game-rules {
    background-color: #fbf5ec;
}

.game-rules .container {
    text-align: center;
}

.game-rules .grid { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-rules .rule-container {
    padding: 10px;
    margin: 5px 0;
}

/* Footer */

.footer {
    width: 100%;
    background-color: #222222;
}

.footer .container {
    padding: 10px 180px;
}

.footer .items {
    text-align: center;
}

.footer i {
    padding: 10px 20px;
    transition: color 0.3s ease-in-out;
}

.footer i:hover {
    color: #1194ea;
    cursor: pointer;
}

.footer .fa-3x {
    font-size: 2em;
}

.footer .connect {
    font-size: 36px;
    font-weight: 300;
}

.footer .ending-quote {
    font-style: italic;
    font-size: 36px;
    color: cornsilk;
    margin: 0 auto;
    transition: color 0.3s ease-in-out;
}

.footer a:hover .ending-quote {
    color: #1194ea;
}  

.footer .items> * {
    padding: 5px 0;
}

@media screen and (max-width: 992px) {

    .content-area h1 {
        font-size: 38px;
    }

    .content-area h3 {
        font-size: 20px;
    }

    .container {
        padding: 40px 90px;
    }
   
    .experience-and-skills .row {
        flex-direction: column;
    }

    .experience-and-skills .experiences .left, .experience-and-skills .experiences .right {
        width: 100%;
        padding: 10px 25px;
    }

    .experience-and-skills .left img {
        display: none;
    }

    .projects .title {
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 30px 15px;
    }

    .project .container {
        padding: 40px 0px;
    }

    .content-area {
        top: 45vh;
        margin-left: 20px;
    }

    .navbar {
        flex-direction: column;
        width: unset;
    }

    .cover .content-area .email {
        margin-left: 10px;
    }

    .bio {
        margin: 0 20px;
    }

    .bio h2 {
        font-size: 16px;
        top: 80vh;
    }

    .navbar {
        margin-left: 30px;
    }

    .navbar .nav-item {
        margin-left: 0;
        text-align: start;
    }

    .navbar .nav-item a {
        font-size: 18px
    }

    .cover .cover-image {
        background-attachment: unset;
    }

    .content-area h1 {
        font-size: 30px;
    }

    .content-area h3 {
        font-size: 18px;
        text-align: left;
    }

    .cover .content-area .media-items {
        flex-direction: column;
        margin-top: 0;
    }
    
    .cover .content-area .media, .cover .content-area .email {
        width: 100%;
        text-align: left;
    }

    .projects .grid .item {
        background: #222;
    }

    .projects .item img {
        opacity: 0.7;
    }

    .projects .grid .item:hover img {
        opacity: 0.7;
    }

    .projects .item .project-description {
        opacity: 1;
        transform: translate(0);
    }

    .projects .item .project-description p {
        font-size: 14px;
    }

    .projects .item .project-title {
        transform: translateY(-178px);
    }

    .experience-and-skills .skills li {
        width: 50%;
    }

    .experience-and-skills .skills li:nth-child(3n-1) {
        text-align: unset;
    }

    .experience-and-skills .skills li:nth-child(3n) {
        text-align: unset;
    }

    .experience-and-skills .skills li:nth-child(2n-1) {
        text-align: left;
    }

    .experience-and-skills .skills li:nth-child(2n) {
        text-align: right;
    }

    #d_s, #d_s_description {
        color: #f5f5f5;
    }

    .experience-and-skills .skills .skill-grid.misc > li {
        width: 100%;
        text-align: left;
    }

    .footer .container {
        padding: 10px 35px;
    }
}