/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    width: 225px;
    height: 3px;
    background-color: #0FA8AB;
    border: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #555;
}

section {
    padding: 40px;
}

.title-box {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 35px;
}

.title-box .prev {
    position: absolute;
    top: 0;
    left: 0;
    transition: color 0.2s;
}

.title-box .post {
    position: absolute;
    right: 0;
    top: 0;
    transition: color 0.2s;
}

.post:hover, .prev:hover {
    color: #8ccbf5;
    /* color: #ff9c69; */ /* color: #8ccbf5; */ 
}

/* Hero Styles */
.cover {
    position: relative;
    height: 100vh;
    padding: 0;
}

.cover-image {
    background: url(../images/LandingImage.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    z-index: -1;
}

.content-area {
    position: absolute; 
    color: white;
    text-align: center;
    top: 150px;
    left: 150px;
    width: 500px;
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        margin-bottom: 100px;
    }
}

.cover h2 {
    font: bold 48px "Nunito", sans-serif;   
}

.cover h3 {
    font: normal 28px "Open Sans", sans-serif;
    font-style: italic;
}

.section-menu {
    display: flex;
    margin-top: 100px;  
    height: 150px;
    align-items: center;
    justify-content: center;
}

.section-menu a {
    font-style: normal;
    flex-basis: 33%;
    padding: 10px;
    font-size: 24px;
    transition: 0.3s transform ease-out,
                0.3s color ease-out;
    color: white;
}

.section-menu a:hover {
    transform: scale(1.2) translate(0px, -10px);
    color: #80f5ce; 
}

.sections-middle {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sections-middle h3{
    width: 100%;
    padding: 25px 0;
    text-align: center; 
}

/* About Me Styles */
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    padding-top: 35px;
    justify-content: space-evenly;
}

.gallery {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.first, .second, .third {
    width: 50%;
    border-radius: 15px;
    transition: 0.3s transform ease-out;
}

.gallery img:hover {
    transform: scale(1.2) translate(0px, -10px);
}

.first {
    background: url(../images/Adrian1.jpg);
    align-self: flex-end;
}

.second {
    background: url(../images/drone.jpg);
}

.third {
    background: url(../images/paint.jpg);
    align-self: flex-end;
}

.vl {
    border-left: 2px solid #0FA8AB;
    position: relative;
    height: 300px;
    align-self: center;
}

.about-me p {
    text-align: center;
    align-self: center;
    max-width: 40%;
}

/* Projects styling */

.projects .grid {
    display: flex;
    flex-flow: row wrap;
    margin-top: 35px;
    list-style: none;
    width: 100%;
}

.projects .item {
    flex: 1 0 calc(25% - 8px);
    max-width: calc(25% - 8px);
    margin: 3px;
    position: relative;
}

.projects img {
    width: 100%;      
    height: 100%;
}

.projects .project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}

.title {
    text-align: center;
    margin-bottom: 5px;
}
